#pip install -r requirements.txt

python-dotenv #to manage environment variables
pandas #data processing
seaborn #data visualization
jupyter
google.cloud #connect to bq
numpy
pathlib #file path
spacy==3.2.0 #nlp
eng-spacysentiment #ner
fastapi #framework to build API
uvicorn[standard] #Asynchronous Server Gateway Interface server
